.cls-1 {
  font-size: 24px;
  fill: #525655;
  font-family: CallunaSans-Light, CallunaSans Light;
  font-weight: 300;
  letter-spacing: 1em;
}

.cls-2 {
  letter-spacing: 0.99em;
}

.cls-3 {
  letter-spacing: 1em;
}

.svg-wrapper {
  width: 800px;
}
