body {
  background: #222;
  font-family: "Roboto Condensed", sans-serif;
}

h3 {
  text-align: center;
  width: 50%;
  margin: 500px 0 0 23%;
  color: #666;
  position: absolute;
  clear: both;
  a {
    color: #999;
    text-decoration: none;
    transition: 0.3s ease color;
    &:hover {
      color: #ccc;
    }
  }
}

svg {
  position: absolute;
  left: 50%;
  margin-left: -500px;
}

path {
  fill: none;
  stroke-linejoin: round;
}

.land {
  fill: #444;
}

.states {
  stroke: #555;
}

.hexagons path {
  opacity: 0;
}

$elements: 2000;
@for $i from 0 to $elements {
  .hexagons path:nth-child(#{$i}) {
    $per: $i/50;
    animation: 2s #{$per}s ease hexagons both;
  }
}

@keyframes hexagons {
  100% {
    opacity: 1;
  }
}
